<div id="navigation">
<p>@Html.ActionLink("Home", "Index", "Home", null ,new { @Class = "nav-btn" })</p>
<p>@Html.ActionLink("Stylists", "Index", "Stylists", null ,new { @Class = "nav-btn" })</p>
<p>@Html.ActionLink("Clients", "Index", "Clients", null ,new { @Class = "nav-btn" })</p>
</div>